@page "/villains"
@inject IVillainService VillainService

<PageTitle>Villains App</PageTitle>

<h3>Villains App</h3>

<table class=" table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Villain Name</th>
            <th>Comic</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var villain in VillainService.Villains)
        {
            <tr>
                <td>@villain.FirstName</td>
                <td>@villain.LastName</td>
                <td>@villain.VillainName</td>
                <td>@villain.Comic.Name</td>
            </tr>
        }

    </tbody>

</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        await VillainService.GetVillains();
    }

}
