@page "/villains"

<PageTitle>Villains App</PageTitle>

<h3>Villains App</h3>

<table class=" table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Villain Name</th>
            <th>Comic</th>
        </tr>

    </thead>
    <tbody>

    </tbody>

</table>

@code {

}
